# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\asher\OneDrive\Documents\Data Science Degree\3th Year\Deep Learning\Deep-Learning-Course-TAU\HW2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
